@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 5vw; /* Largura flexível */
  min-width: 50px;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2vh 0;
  transition: width 0.3s ease;
  border-radius: 0 10px 10px 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar-item {
  width: 100%;
  padding: 1em;
  display: flex;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  cursor: pointer;
  position: relative;
}

.sidebar-item a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.select-icon {
  background-color: #d9d9d9;
  width: 80%;
  height: 15%;
  border-radius: 10px;
}

.select-icon::before {
  content: "";
  position: absolute;
  left: -2px;
  top: 50%;
  transform: translateY(-50%);
  height: 60%;
  width: 5px;
  border-radius: 10px;
  background-color: #00bfa6;
}

.menu:hover {
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

.menu::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: transparent;
  transition: background-color 0.3s, top 0.3s;
}

.menu:hover::before {
  background-color: #00bfa6;
}

.user-option {
  width: 100%;
  padding: 0 1em;
  margin: 1em auto;
  cursor: pointer;
}

.content {
  flex-grow: 1;
  padding: 20px;
  color: #333;
  height: 100%;
  background-color: #d0d0d0;
}

.content header {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 9%;
  margin-bottom: 25px;
  width: 80%;
}

.header-text {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content header h2 {
  min-width: 50%;
  font-family: "Sora";
  color: #909090;
}

.search-area {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-inputs {
  width: 80%;
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.search-inputs p {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 14px;
  color: black;
}

.search-inputs img {
  width: 22px;
  height: 22px;
}

.search-order {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin-left: 3px;
}

.select-area {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 75%;
}

.only-select-area {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
}

.select-input {
  font-family: "Montserrat";
  font-size: 14px;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.5rem;
  color: #000;
  cursor: pointer;
}

.search-bar-area {
  width: 50%;
}

#input-search {
  font-family: "Montserrat";
  font-size: 14px;
  width: 100%;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.5rem;
  color: #000;
  cursor: pointer;
  position: relative;
}

#search-icon {
  position: absolute;
  top: 19%;
  left: 77%;
  transform: translateY(-50%);
  color: #353434;
  font-size: 20px;
}

.match-description {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.quester-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 75%;
  gap: 15px;
}

.quester-area img {
  width: 15%;
  height: 75%;
}

.quester-area h1 {
  font-family: "Sora";
  font-weight: 700;
}

.quester-area p {
  font-family: "Sora";
  font-weight: 300;
}

.quester-area div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.create-btn {
  padding: 10px 20px;
  background-color: #888;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  min-width: 8%;
  font-family: "Sora";
  font-weight: 600;
}

.create-btn:hover {
  background-color: #555;
}
